	html{margin:0;padding:0;}
	body{
		background-image:url('background images/background4.jpg');
		background-color:rgb(0,0,0);
		color:orange;
		margin:0;
		padding:20px;
		font-size:20px;
	
	}
	#name
	{
	font-family:chiller;
	font-size:39px;
	}
	#myphoto
	{
		float:right;
		padding-right:10px;
	}
	
	ul {
	font-family:chiller;
    list-style-type: none;
	font-size:37px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(20,25,20);
}

li {
    float: left;
}

li a {
    display: block;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color:black;
}
	#home{
		text-align:center;
		font-family:chiller;
		font-size:47px;
	}
h1{
	color: #00FF00;
	font-size:35px;
	font-family:chiller;
	font-size:44px;
	}
	
h2{
	color:blue;
	font-size:35px;
	font-family:chiller;
	font-size:44px;
	}
h3{
	color:blue;
	font-size:25px;
	font-family:sans-serif;
}
	
	p{
		color:red;
		font-size:35px;
		font-family:chiller;
	}
	
		#branch{
		color:orange;
		font-family:chiller;
		font-size:39px;
	}
	
	address{
		color:green;
		font-size:135%;
		
	}
	abbr{
		text-decoration:none;
	}
	a:link{
		background-color:transparent;
		text-decoration:none;
	}
	
	a:visited{
		color:violet;
	}
	
	a:hover{
		color:blue;
		text-decoration:underline;
	}
	 footer {
    padding: 1em;
    color: white;
    background-color: rgb(50,25,50);
    text-align: center;
	 }
	